body {
  margin: 0;
  background: #f7f2e5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  font-family: 'Open Sans';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* <------------------------------LANDING PAGE STYLING--------------------------------------> */

.main {
  position:relative;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  width: 320px;
  height: 300px;
  top: 140px;
}

.search-bar {
  background: #FFFFFF;
  border: 1px solid #777777;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: 'Open Sans';
  font-size: 18px;
  letter-spacing: 0.5px;
  padding-left: 10px;
  position: absolute;
  width: 530px;
  height: 47px;
  top: 450px;
}

.search-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 465px;
  margin-left: 505px;
}

.button-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 100px;
  top: 535px;
}

.clubs-icon {
  position: absolute;
  width: 45px;
  height: 45px;
  padding-left: 8px;
}

.profile-icon {
  position: absolute;
  width: 50px;
  height: 50px;
}

.landing-button {
  border: none;
  background: none;
  font-family: 'Open Sans';
  font-size: 16px;
}

.button-text {
  position: relative;
  top: 55px;
  padding-bottom: 50px;
}

/* <---------------------------------NAV BAR STYLING--------------------------------------> */
.navBar {
  background: #000000;
  width: 100vw;
  top: 0px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.club-logo {
  position: relative;
  width: 30px;
  height: 30px;
  padding-top: 7px;
  padding-left: 7px;
}

.navBar-buttons {
  display: flex;
  gap: 10px;
  padding-right: 10px;
}

.navBar-button {
  background-color: #577B5F;
  border-radius: 8px;
  font-family: 'Open Sans';
  font-size: 16px;
  border: none;
  color: white;  
  height: 30px;
  padding-left: 16px;
  padding-right: 16px;
  transition-duration: 0.4s;
}

.navBar-button:hover {
  background-color: white;
  color: black;
}


.navbar-dropdown-menu{
  position: absolute;
  top: 50px;
  right: 1px;
  background-color: #fff;
  border-radius: 8px;
  width: 240px;
}

.navbar-dropdownItem{
  position: relative;
  display: flex;
  margin: 10px;
}

.navbar-dropdownItem a{
  max-width: 250px;
  font-family: 'Open Sans';
  transition: var(--speed);
}

.navbar-dropdownItem a:hover{
  color: #577B5F;
}

.navbar-dropdown-menu.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.navbar-dropdown-menu.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

/* <---------------------------------REGISTER PAGE STYLING--------------------------------------> */

.register-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  margin-left: 10%;

  row-gap: 10px;
}

.register-logo {
  position: relative;
  width: 150px;
  top: 50px;
}

.register-largetext {
  position: relative;
  top: 40px;
  font-size: 1.6em;
}

.register-smalltext {
  position: relative;
  top: 45px;
  font-size: 1.1em;
}

.register-page-backdrop{
  position: relative;
  margin-top: 120px;
  bottom: 40px;
  background-color: white;
  border-radius: 10px;
  width: 70vw;
  height: 950px;
  border: 0.7px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  justify-content: center;
  align-items: center;
}

.club-register-input {
  border: 0.5px solid black;
  font-family: 'Open Sans';
  border-radius: 5px;
  font-size: 16px;
  padding-left: 10px;
  width: 50vw;
  height: 50px;
}

.club-description-text {
  width: 50vw;
}

.register-description-box {
  border: 0.5px solid #777777;
  width: 50vw;
  height: 200px;
  font-family: 'Open Sans';
  font-size: 16px;
}

.register-button {
  background-color: #577B5F;
  border-radius: 8px;
  font-family: 'Open Sans';
  font-size: 16px;
  border: none;
  color: white;  
  font-weight: bold;
  letter-spacing: 0.5px;
  height: 37px;
  width: 115px;
  transition-duration: 0.4s;
}

.register-button:hover {
  background-color: white;
  color: black;
  border: 0.5px solid #577B5F;
}

/* <---------------------------------REGISTER USER PAGE STYLING--------------------------------------> */

.register-user-page-backdrop{
  position: relative;
  margin-top: 120px;
  bottom: 40px;
  background-color: white;
  border-radius: 10px;
  width: 70vw;
  height: 450px;
  border: 0.7px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  justify-content: center;
  align-items: center;
}

/* <---------------------------------LOGIN PAGE STYLING--------------------------------------> */

.login-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50px;
  margin-right: 10%;
  margin-left: 10%;
}

.login-container {
  width: 350px;
  height: 410px;  
  background: #FFFFFF;
  border: 0.7px solid #777777;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  justify-content: center;
  align-items: center;
}

.login-logo {
  position: relative;
  display: flex;
  
  width: 150px;
  /* top: 50px; */
}

.login-bigtext {
  color: black;
  font-weight: bold;
  padding-right: 180px;
  font-size: 19px;
  letter-spacing: 1px;
}

.login-input {
  border: 0.2px solid #777777;
  border-radius: 5px;
  padding-left: 5px;
  width: 230px;
  height: 30px;
  font-family: 'Open Sans';
  font-size: 13px;
}

.login-button {
  background: #577B5F;
  border: none;
  border-radius: 5px;
  color: white;
  width: 240px;
  height: 33px;
  font-size: 14px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  transition-duration: 0.4s;
}

.login-button:hover {
  background-color: white;
  color: #777777;
  border: 0.5px solid #577B5F;
}

.line-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.line {
  flex: 1;
  height: 0.3px;
  width: 95px;
  border: none;
  background-color: #777777;
}

.or-text {
  width: 50px;
  font-size: 13px;
  text-align: center;
}

.google-logo {
  width: 26px;
  height: 26px;
  padding-left: 20px;
  padding-right: 10px;
}

.google-signin {
  display: flex;
  align-items: center;
  background-color: white;
  border: 0.2px solid #777777;
  border-radius: 5px;
  width: 240px;
  height: 33px;
  font-weight: bold;
  font-family: 'Open Sans';
  font-size: 14px;
  color: black;
  letter-spacing: 0.4px;
}

.register-redirect {
  font-size: 11.5px;
  color: black;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.register-here {
  color: #577B5F;
}

.register-here:hover {
  text-decoration: underline;
}